<%- include('./layout/header') %>
<style>
    .ui .image:hover {
        border-bottom: 3px solid #4fc08d;
    }
</style>

<div class="ui stackable four column grid" style="padding: 0 100px;">
        <% if (user) { %>
            <div class="partWrapper ui vertically divided grid" style="padding: 0 200px;">
                    <h1 style="font-size: 26px; color: #494949;">
                        Hello, <%= user.name %>
                    </h1>
                    <div class="four column row">
                        <div class="column" style="display: flex;">
                            <div>
                                Profile Overview
                            </div>
                            <div style=" margin-left: 30px;">
                                <h2><%= borrowCount %></h2>
                                <a href="/profile/<%= user._id %>">Books Awaiting Return</a>
                            </div>
                        </div>
                        <div class="column">
                            <% if (user.isAdmin) { %>
                                <div style=" margin-left: 30px;">
                                    <h2><%= approvalCount %></h2>
                                    <a href="/approval">Return Approvals Pending</a>
                                </div>
                            <% } %>
                        </div>
                        <div class="column">
                            <% if (user.isAdmin) { %>
                                <div style=" margin-left: 30px;">
                                    <h2><%= userApprovalCount %></h2>
                                    <a href="/userApproval">User Account Approvals Pending</a>
                                </div>
                            <% } %>
                        </div>
                        
                    </div>
                </div>

        <% } %>

        <% if (user) { %>
            <% var countavail = 0; var countbooks=0; %> 
            <% partsall.forEach(function (part) { %>
                <% if (part.show) { %>
                    <% countavail+= part.inventory;countbooks+=1 %>
                <% } %>
            <% }) %>
            <div class="partWrapper ui vertically divided grid" style="padding: 0 200px;">
                    <h2 style="font-size: 26px; color: #494949;">
                        Current Status
                    </h2>
                    <div class="four column row">
                        <div class="column" style="display: flex;">
                            <div>
                                Overview
                            </div>
                            <div style=" margin-left: 30px;">
                                    <h2><%= countbooks %></h2>
                                    Titles Available
                                </div>
                            
                        </div>
                        <div class="column">
                                <div style=" margin-left: 30px;">
                                        <h2><%= countavail+TotalBorrowCount %></h2>
                                        Total Copies
                                    </div>  
                        </div>
                        <div class="column">
                                <div style=" margin-left: 30px;">
                                        <h2><%= countavail %></h2>
                                        Copies Available for Borrowing
                                    </div>  
                        </div>
                        <div class="column">
                            <% if (user.isAdmin) { %>
                                <div style=" margin-left: 30px;">
                                    <h2><%= TotalBorrowCount %></h2>
                                    <a href="/inventory">Copies Borrowed</a>
                                </div>
                            <% }else{ %>
                                <div style=" margin-left: 30px;">
                                        <h2><%= TotalBorrowCount %></h2>
                                        <a href="/borrow_summary">Copies Borrowed</a>
                                </div>
                            <% } %>
                        </div>                        
                    </div>
                </div>
        <% } %>

    <% parts.forEach(function (part) { %>
        <%if (part.show) {%>
            <div class="column bookItem" style="margin: 20px 0;">
                <div class="ui card cardWrap">

                    <a class="image" href="/inventory/<%= part._id%>">
                        <img class="imgTarget" style="height: 360px;" src="<%= part.image %>">
                    </a>
                    <div class="content">
                        <div  style="width: 100%;display: flex; justify-content: space-between;">
                            <a style="font-size: 18px; color: #000;" class="header" href="/inventory/<%= part._id%>"><%= part.name %></a>
                            <div class="ui star rating" data-rating="<%= part.score %>" data-max-rating="5"></div>
                        </div>

                        <div class="meta">
                            <a><%= part.model_no %></a>
                        </div>

                        <div style="font-size: 18px; color: #000;" data-id="<%= part._id%>">
                            Like
                            <% if(part.like){ %>
                            <i class="fa fa-heart" ></i>
                            <%} else {%>
                            <i class="fa fa-heart-o"></i>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        <%}%>
    <% }) %>
</div>

<script>

    $(document).ready(function () {
        $('.ui .rating').rating('disable');
        

        var likeBtn = $('i');
        $.each(likeBtn, function(index, item) {
            $(item).on('click', function() {
                console.log(item);
                var itemData = $(item).closest('div').data();
                if(item.classList.contains("fa-heart")) {
                    item.classList.remove("fa-heart");
                    item.classList.add("fa-heart-o")
                    window.location.href = "/home/" + itemData.id + "/unfavorite";
                }
                else {
                    item.classList.remove("fa-heart-o");
                    item.classList.add("fa-heart");
                    window.location.href = "/home/" + itemData.id + "/favorite";
                }


            })
        });


    })

</script>

<%- include('./layout/footer') %>